extends layout

block content
    .container
        .row
            .col-md-12
                h1 #{title}
        .row.top-buffer
            .col-xl-8.text-left
                canvas(id="canvas", width="305.5", height="305.5")
            .col-xl-4.text-left
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit quam, volutpat sed enim quis, scelerisque imperdiet enim. Vivamus id ligula ipsum. Sed eget nibh viverra, laoreet libero in, luctus lorem. Mauris at purus eget enim auctor aliquam sit amet eget magna. Nam et eros nec enim ornare blandit ut et sapien. Duis sollicitudin magna justo, non molestie ante blandit vel. Sed luctus enim sit amet libero dignissim bibendum. Pellentesque non tincidunt purus, in congue lacus. Ut iaculis, quam eu consectetur sagittis, velit tortor tempus lectus, vitae sodales ante nibh ac elit. Phasellus ut dignissim est. Donec egestas sit amet felis sit amet tristique. Vestibulum justo est, dignissim at feugiat sed, mollis ut ligula. Fusce lorem erat, imperdiet eu maximus ut, pulvinar id tellus.
