extends layout

block content
    .container
        .row
            .col-md-12
                h1 #{title}
        .row
            .col-xl-9.text-left
                canvas(id="canvas", width="305.5", height="305.5")
            .col-xl-3.text-left
                p console will go hereconsole will go hereconsole will go hereconsole will go hereconsole will go hereconsole will go hereconsole will go hereconsole will go hereconsole will go hereconsole will go hereconsole will go hereconsole will go hereconsole will go hereconsole will go hereconsole will go hereconsole will go hereconsole will go here
